Agentic Telegram AI bot with LangChain nodes and new tools.json
{
  "name": "Agentic Telegram AI bot with LangChain nodes and new tools",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "frequencyPenalty": 0.2,
          "temperature": 0.7
        }
      },
      "id": "8bdd5294-e5a2-48a0-9040-ab2b0dc25b67",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        192,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionKey": "=chat_with_{{ $('Listen for incoming events').first().json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "51bcace7-4e45-438a-8c55-cf6b7f15a14c",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        304,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "21731556-a364-4b97-9669-34a747e39b8d",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        128,
        192
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate an image with Dall-E-3 and send it via Telegram",
        "height": 553.452795998601,
        "width": 926.3188190787038,
        "color": 7
      },
      "id": "d26ca98d-3723-4ee7-a80a-270da5eb05d6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "c2b4cc1d-7527-4233-ac27-b678571672a6",
      "name": "Send final reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        688,
        192
      ],
      "typeVersion": 1.1,
      "webhookId": "3ff053e5-3ca7-41f4-82c7-6b6c25123f70",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "file": "={{ $fromAI(\"url\", \"a valid url of an image\", \"string\", \" \") }}",
        "additionalFields": {}
      },
      "id": "72529036-f407-4c2c-98d8-0ca31e537e3b",
      "name": "Send back an image",
      "type": "n8n-nodes-base.telegramTool",
      "position": [
        560,
        400
      ],
      "typeVersion": 1.2,
      "webhookId": "745d0b69-a59f-4e72-b5ab-e35f10fb8326"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to request a Dall-E-3 model, when the user asks to draw something. If you gеt a response from this tool, forward it to the Telegram tool.",
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "model",
              "valueProvider": "fieldValue",
              "value": "dall-e-3"
            },
            {
              "name": "prompt"
            }
          ]
        }
      },
      "id": "281a9b48-08d1-4cdc-8445-70c95eb6e23c",
      "name": "Generate image in Dalle",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        432,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant. You are communicating with a user named {{ $json.message.from.first_name }}. Address the user by name every time. If the user asks for an image, always send the link to the image in the final reply."
        }
      },
      "id": "0bfdec33-04c1-4e87-8556-cde408329d78",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        320,
        192
      ],
      "typeVersion": 1.7
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send final reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send back an image": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate image in Dalle": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "f1073e0ef9d6c3f612165fb818e806875cadef32fd465fe392d4049f979c3bab"
  },
  "tags": []
}